<div id="account-view-wrapper">
    <nav class="duegev-title">
        <button mat-raised-button color="primary" class="add-year" (click)="newYearControl()">+ {{getString('NEW_YEAR')}}</button>
        <button mat-raised-button color="warn" class="create-button" (click)="enableCreativeMenu()">{{getString('CREATE')}}</button>
        <span class="title"><button mat-raised-button disabled>{{getString('WELCOME')}} {{loggedInUser.nickname}}</button></span>
    </nav>
    <hr>
    <!-- MENU OPTIONS VIEWS -->
    <div class="content-section">
        <div class="menu-wrapper">
            <h3 class="menu-title">{{getString('OWNERS_MENU')}}</h3>
            <mat-list>
                <mat-list-item>
                    <span matListItemTitle><span class="menu-item" (click)="menuClicked(MenuItems.ACCOUNT)">{{getString('ACCOUNT_M')}}</span></span>
                    <span matListItemLine>{{getString('YOUR_ACCOUNT_SETTINGS')}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle><span class="menu-item" (click)="menuClicked(MenuItems.PRIVILEGES)">{{getString('PRIVILEGES')}}</span></span>
                    <span matListItemLine>{{getString('USE_SPECIFIC_FUNCTIONS')}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle><span class="menu-item" (click)="menuClicked(MenuItems.ARTICLES)">{{getString('ARTICLES')}}</span></span>
                    <span matListItemLine>{{getString('VIEW_AND_EDIT')}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle><span class="menu-item" (click)="menuClicked(MenuItems.SOCIAL)">{{getString('SOCIAL')}}</span></span>
                    <span matListItemLine>{{getString('SOCIALIZE')}}</span>
                </mat-list-item>
            </mat-list>
        </div>
        <!-- MENU OPTION VIEWS -->
        <div class="options-wrapper">
            <duegev-article-editor *ngIf="activeMenu==MenuItems.CREATIVE"></duegev-article-editor>
            <article-list-viewer *ngIf="activeMenu==MenuItems.ARTICLES"></article-list-viewer>
            <account-settings-viewer *ngIf="activeMenu==MenuItems.ACCOUNT"></account-settings-viewer>
            <duegev-privilege-manager *ngIf="activeMenu==MenuItems.PRIVILEGES"></duegev-privilege-manager>
        </div>
    </div>
</div>

