#account-view-wrapper{
    position: relative;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: white;
    color: #212121;
    font-family: sans-serif;
    border-radius: 10px;
    padding: 8px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.duegev-title{
    display: flex;
    align-items: center;
}

.add-year{
    font-weight: bold;
}

.title {
    justify-self: flex-end;
    margin-left: auto;
    font-size: 20px;
}

.menu-title{
    padding-left: 10px;
    margin-bottom: 5px;
}

.content-section{
    width: 100%;
    height: calc(100% - 80px);
    position: relative;
    display: flex;
}

.menu-wrapper{
    width: 30%;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    padding: 5px;
    user-select: none;
}

.options-wrapper{
    width: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.menu-item{
    color: #212121;
}

.menu-item:hover{
    animation: MenuItemHover 500ms forwards;
}

.menu-item:active{
    filter: invert();
}

@keyframes MenuItemHover {
    from{
        font-weight: 100;
    }

    to{
        font-weight: bold;
        background-color: #212121;
        color: white;
        padding: 5px;
        border-radius: 5px;
    }
}

.create-button{
  margin-left: 10px;
}

.options-wrapper duegev-article-editor {
    display: flex;
    position: relative;
    width: 100% !important;
    height: 100%;
}