mat-card {
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.creative-menu-title {
    font-family: sans-serif;
    font-weight: bold;
    color: #212121;
    margin-bottom: 0px;
}

.creative-menu-header {
    margin: 5px 10px;
    display: flex;
    user-select: none;
}

.action-buttons-holder {
    align-self: flex-end;
    margin-left: auto;
}

.action-buttons-holder>button {
    margin-left: 10px;
}

.input-label,
input {
    font-family: sans-serif;
    color: #212121;
}

.input-label span {
    margin-right: 6px;
}

input {
    border-radius: 5px;
    padding: 4px 10px;
    margin-right: 20px;
}

.meta-content-holder {
    margin: 7px;
    user-select: none;
}

.dublinator {
    margin-bottom: 5px;
}

md-text-editor {
    
}

.label-editor{
    margin-top: 15px;
    margin-bottom: 8px;
    font-family: sans-serif;
    color: #212121;
}

.label-editor select {
    border-radius: 6px;
    padding: 3px 10px;
    margin-bottom: 10px;
    color: #212121;
    font-family: sans-serif;
    width: 150px;
    margin: auto;
    margin-bottom: auto;
}

.label-editor button {
    margin-left: 10px;
}

.fieldsValidationDialog>mat-card{
    width: 40% !important;
    height: fit-content;
    font-family: sans-serif;
    color: #212121;
}