.identity-provider-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #212121, #2f3657, #212121);

}

.login-box::before {
    filter: blur(100px);
}

.login-box {
    position: absolute;
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 15px;
    background-color: #212121;
    padding: 15px;
    user-select: none;
    animation: glowing-idp-login-btn 20s linear infinite;
}

.login-box>.icon {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 100px;
    filter: invert();
    margin-bottom: 20px;
}

.login-box>.header {
    font-family: sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 30pt;
}

.login-box>.lower-header {
    font-family: sans-serif;
    color: white;
    font-size: 10pt;
    letter-spacing: 1pt;
    margin-bottom: 20px;
}

.login-box input {
    color: #212121;
    font-family: sans-serif;
    font-size: 13pt;
    padding: 3px;
    border-radius: 8px;
    margin: 10px;
}

.identity-provider-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.idp-login-btn {
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: bold;
    width: 220px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: #212121;
    background: gray;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.idp-login-btn:hover {
    filter: invert();
}

.idp-login-btn:before {
    content: "";
    background: linear-gradient(45deg, #00ffd5, #002bff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-idp-login-btn 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-idp-login-btn {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.idp-login-btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.credits {
    color: white;
    margin-top: auto;
    font-family: sans-serif;
    font-size: 12px;
    opacity: 0.75;
    align-self: self-start;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner-holder {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.idp-status {
    word-break: break-word;
    margin-top: 15px;
    font-size: 13px;
}

.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
}

.lds-circle>div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: #03dcac;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {

    0%,
    100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }

    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }

    100% {
        transform: rotateY(3600deg);
    }
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #b00002;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.back-link{
    margin-top: 8px;
    color: #002bff;
    text-decoration: underline;
    font-size: 13px;
}

.back-link:active{
    filter: invert();
}