mat-card {
    margin: 10px;
}

#articles-browser {
    height: calc(100% - 80px);
    background: rgb(235, 235, 235);
}

#article-search-header {
    background-color: white;
}

.article-chipbox-wrapper {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.game-time-display {
    color: white;
    font-weight: bold;
    font-size: 10px;
    background: gainsboro;
    padding: 5px;
    border-radius: 10px;
}

.md-viewer-wrapper {
    font-family: sans-serif;
}

.articles-wrapper-card-content {
    overflow-y: scroll;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}

mat-card-actions>button,
a {
    margin-left: 10px;
}

.article-card {
    margin-top: 20px;
}

#articles-search-bar {
    padding: 10px;
    font-size: 15px;
    width: 100%;
    font-family: sans-serif;
    border-radius: 50px;
    margin-right: 20px;
}

.input-holder {
    width: 70%;
}

.input-holder #results-shower {
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 30px;
}

#search-button {
    margin-left: 40px;
    text-transform: uppercase;
}

.more-content {
    text-align: center;
}

.more-content-disabled {
    filter: grayscale(1);
}