#privilege-widget-holder {
    margin: 10px 10px;
}

mat-card {
    margin-bottom: 10px;
}

#user-list-table td {
    padding: 0px 15px;
}

#user-list-table tr:nth-child(odd) {
    background-color: #cecece2a;
}

.manage-panel {
    padding: 1px;
}

.slide-toggle-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#addUserAction {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center !important;
}

#addUserAction mat-form-field {
    margin-top: 20px;
    align-self: center !important;
}

#confirm-user-creation-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center !important;
    background-color: rgba(0, 0, 0, 0.014);
}

#confirm-user-creation-panel mat-form-field {
    margin-top: 20px;
    align-self: center !important;
}