#privilege-widget-holder {
    margin: 10px 10px;
}

mat-card {
    margin-bottom: 10px;
}

#user-list-table td {
    padding: 0px 15px;
}

#user-list-table tr:nth-child(odd) {
    background-color: #cecece2a;
}

.manage-panel {
    padding: 1px;
}

.slide-toggle-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#addUserAction {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center !important;
}

#addUserAction mat-form-field {
    margin-top: 20px;
    align-self: center !important;
}

#confirm-user-creation-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center !important;
    background-color: rgba(0, 0, 0, 0.014);
}

#confirm-user-creation-panel mat-form-field {
    margin-top: 20px;
    align-self: center !important;
}

#map-data-field>div {
    margin-top: 5px;
}

#map-data-field>div :nth-child(2) {
    border: 1px solid #9e9e9e;
    background-color: #9e9e9e;
    font-size: small;
    padding: 1px 3px;
    border-radius: 5px;
    color: white;
}

#map-modifier {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#duegev-latest-map {
    width: 50%;
}

#map-data-card {
    width: 100%;
}

#map-uploader>input[type=file] {
    border: 1px solid #9e9e9e17;
    background-color: #9e9e9e17;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 8px;
}

.map-commentaire {
    margin: 8px;
}