<div class="account-form-wrapper">
    <mat-card>
        <mat-card-header>
            <mat-card-title>User Preferences</mat-card-title>
            <mat-card-subtitle>Set your preferences</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <table>
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Login Username</mat-label>
                            <input matInput placeholder="Username" value="{{user.username}}" disabled>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Nickname</mat-label>
                            <input matInput placeholder="Nickname" value="{{user.nickname}}">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Your title</mat-label>
                            <input matInput placeholder="Name prefix" value="{{user.prefix}}">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <input matInput placeholder="Full name" value="@{{user.prefix}} {{user.nickname}}" disabled
                                class="fullname">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-label>Language</mat-label>
                            <mat-select>
                                <mat-option value="one" *ngFor="let language of languages">{{language}}</mat-option>
                            </mat-select>
                            <mat-hint>Your preference: {{user.language}}</mat-hint>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Login Password</mat-label>
                            <input matInput placeholder="Username" type="password" value="{{user.password}}" disabled>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <button mat-raised-button color="warn">Save</button>
        </mat-card-content>
    </mat-card>
    <mat-card class="second-card">
        <mat-card-header>
            <mat-card-title>Change Credentials</mat-card-title>
            <mat-card-subtitle>Powered by UNICUM Identity Provider</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Change Username">
                    <div class="changer-form">
                        <mat-form-field appearance="outline">
                            <mat-label>Your new username</mat-label>
                            <input matInput placeholder="username" required id="ch-username-field">
                          </mat-form-field>
                          <mat-form-field appearance="outline">
                            <mat-label>Confirm change with your password</mat-label>
                            <input matInput placeholder="password" type="password" required id="ch-username-password">
                          </mat-form-field>
                          <button mat-raised-button color="primary" (click)="changeUsernameControl()">Change</button>
                    </div>
                </mat-tab>
                <mat-tab label="Change Password">
                    <div class="changer-form">
                        <mat-form-field appearance="outline">
                            <mat-label>Old Password</mat-label>
                            <input matInput placeholder="old password" type="password" required>
                          </mat-form-field>
                          <mat-form-field appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input matInput placeholder="new password" type="password" required>
                          </mat-form-field>
                          <mat-form-field appearance="outline">
                            <mat-label>Confirm new password</mat-label>
                            <input matInput placeholder="new password" type="password" required>
                          </mat-form-field>
                          <button mat-raised-button color="primary">Change</button>
                    </div>
                </mat-tab>
              </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>