<mat-card>
    <mat-card-content>
        <mat-form-field appearance="fill" class="search-area">
            <mat-label>Use search query to filter results</mat-label>
            <input matInput placeholder="Search" (keydown.enter)="search()"
                id="{{isMyArticles ? 'my_articles_search' : 'all_articles_search'}}">
            <mat-hint>{{ numberOfResults }} results found</mat-hint>
        </mat-form-field>
    </mat-card-content>
</mat-card>

<mat-accordion *ngFor="let article of allArticles">
    <mat-expansion-panel hideToggle class="article-ri-card">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ article.title }}
            </mat-panel-title>
            <mat-panel-description>
                <div class="info-items-wrapper">
                    <div class="text-wrapper">
                        {{ article.irl_date }}
                    </div>
                    <div *ngIf="isMyArticles" class="action-buttons-wrapper">
                        <button mat-raised-button color="primary" (click)="editArticle()">Edit</button>
                        <button mat-raised-button color="warn"
                            (click)="deleteArticle(article.article_id)">Delete</button>
                    </div>
                    <div *ngIf="!isMyArticles" class="chip-box">
                        <mat-chip-listbox>
                            <mat-chip-option disabled>@{{ getNicknameByUID(article.author) }}</mat-chip-option>
                        </mat-chip-listbox>
                        <mat-chip-listbox>
                            <mat-chip-option disabled>K.i. {{ article.date }}</mat-chip-option>
                        </mat-chip-listbox>
                    </div>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <md-article-viewer [articleContent]="article.document"></md-article-viewer>
    </mat-expansion-panel>
</mat-accordion>

<!-- DELETE ARTICLE PASSWORD CONFIRMATION DIALOG -->

<div class="confirm-delete-menu-backdrop" *ngIf="deleteArticleConfirmNeeded"></div>
<div class="confirm-delete-menu" *ngIf="deleteArticleConfirmNeeded">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Confirm delete?</mat-card-title>
            <mat-card-subtitle>This can't be undone</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>You are attempting to delete your document [title] please confirm it with your password!</p>
            <mat-form-field appearance="outline" class="password-confirm-area">
                <mat-label>Confirm with Password</mat-label>
                <input matInput placeholder="Password" type="password" id="delete-password-confirmation">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="deleteArticleConfirm()">DELETE</button>
            <button mat-button (click)="deleteArticleConfirmNeeded = false">CANCEL</button>
        </mat-card-actions>
    </mat-card>
</div>