.article-ri-card {
    margin-top: 5px;
    margin-bottom: 5px;
}

.info-items-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-wrapper {
    width: 60%;
}

.action-buttons-wrapper {
    align-self: flex-end;
    margin-left: auto;
    justify-content: center;
    display: flex;
    gap: 5px;
}

.search-area {
    width: 70%;
}

.chip-box {
    align-self: flex-end;
    margin-left: auto;
    gap: 5px;
    display: flex;
    flex-direction: row;
}

.confirm-delete-menu-backdrop {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.877);
    user-select: none;
    pointer-events: none;
    z-index: 600;
}

.confirm-delete-menu {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 70%;
    transform: translate(-50%, 0%);
    z-index: 601;
}

.password-confirm-area {
    width: 100%;
}