<div id="duegev-home-wrapper">
    <nav class="navbar">
        <div class="signature">
            <img src="../../assets/icones/book.png" class="wikicon">
            <span class="name">DÛGEV WIKI</span>
        </div>

        <div class="date-display">
            <span class="date">
                {{ getCurrentTimeStamp }}
            </span>
        </div>

        <div class="menu-items">
            <a class="menu-item" (click)="changeViewPort(VIEWPORTS.HOMEVIEW)">Home ▷</a>
            <a class="menu-item" (click)="changeViewPort(VIEWPORTS.BROWSEVIEW)">Browse ▷</a>
            <a *ngIf="!LoggedInUser.username" class="menu-item" href="/utils/identity-provider/duegev-wiki">Login ▷</a>
            <a *ngIf="LoggedInUser.username!" class="menu-item" (click)="changeViewPort(VIEWPORTS.ACCOUNTVIEW)">ACCOUNT
                ▷</a>
        </div>
    </nav>

    <div id="viewcontainer">
        <duegev-account *ngIf="isAccountView"></duegev-account>
        <duegev-browse *ngIf="isBrowseView"></duegev-browse>
        <duegev-home-panel *ngIf="isHomeView"></duegev-home-panel>
    </div>
</div>